<div class="loading-overlay">
  <a class="close">×</a>
  <div id="download-sources-frame">
    <div id="download-sources-wrapper">
      {% if dl_sources %}
      <div id="buffer-error-text" style="display: none;">
        <p>Lamentablemente el link de descarga obtenido no está disponible.</p>
        <p>Podés intentar cargar otra fuente o nuevamente la misma. Si ya 
          reintentaste, probá de nuevo más tarde. Disculpas por la molestia.</p>
      </div>
      <span>Seleccioná una fuente de donde cargar el álbum:</span>
      {% else %}
      <span>Actualmente no hay fuentes disponibles para este álbum, 
        disculpe la molestia.</span>
      {% endif %}
      <ul id="download-sources">
      {% for download_source in dl_sources %}
        <li>
          <a href="javascript:void(0);" 
            onclick="javascript: DiscazosLoader.selectFH(
              {{ download_source.pk }}, 
              '{{ download_source.download_link }}'
            );">
            {{ download_source.service }}
            <span><img src="{{ STATIC_URL}}img/popup-icon.gif" /></span>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div id="link-available-box" style="display: none;">
      <p>¡Se ha obtenido el link de descarga correctamente!</p>
      <p class="preload-init">Comenzando precarga...</p>
      <p class="preloading" style="display: none;">
        Precargando los primeros 30 segundos del álbum... por favor espere.
      </p>
      <p><img src="{{ STATIC_URL}}img/loading.gif" /></p>
      <p class="preload-init">
        <small>Normalmente el comienzo de la precarga debería ser prácticamente instantáneo, 
          pero en algunos casos <strong>puede tomar hasta un minuto</strong>. Aguarde por favor.
        </small>
      </p>
      <p class="preloading" style="display: none;">
        <span id="preload-percentage">0</span>% completado
      </p>
    </div>
  </div>
</div>