{% extends "main_layout.html" %}

{% block title %}Discazos | Album{% endblock title %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/discazos_player.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/countdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/discazos_loader.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/discazos_player.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js"></script>
<script type="text/javascript">
  ExtensionHandler.init('{% url extension_install %}');
</script>
{% endblock %}

{% block section_nav_class %}albums{% endblock %}
{% block main %}
<div id="discazos-player-flash">
  {% include "player_swf.html" %}
</div>
<div id="content">
  <div id="discazos-player-html">
    <h2 id="title">{{ album.title }}</h2>
    <h3 id="artist">{{ album.artist }}</h3>
    <a href="#" onclick="DiscazosLoader.getFHs('{% url dl_sources_list album.pk %}');">
      <img src="{{ MEDIA_URL }}{{ album.main_release.cover }}" alt="Album Cover" height="200" width="200" />
    </a>
    <table id="playlist" class="data_table">
    {% for disc in album.main_release.discs.all %}
      <tr>
        <th>No.</th>
        <th>Track</th>
        <th>Length</th>
      </tr>
      {% for track in disc.tracks.for_playlist %}
        <tr>
          <td rel="{{ track.offset }}" class="track-number">{{ track.number }}</td>
          <td class="track-name">{{ track.song }}</td>
          <td rel="{{ track.length }}" class="track-length">{{ track.length_f }}</td>  
        </tr>
      {% endfor %}
    {% endfor %}
    </table>
    <span id="album-length" style="display:none;">2289</span>
    <p id="playing-info">Playing: <span id="current-track"></span></p>
    <div id="player-controls">
      <button id="play-button">Play</button>
      <button id="prev-button">Prev</button>
      <button id="next-button">Next</button>
      <div id="progressbar"></div>
    </div>
    <p id="loading-discazo">Loading: <span id="percentage-loaded">?</span>%</p>
  </div>
</div>
{% endblock %}