{% extends "main_layout.html" %}

{% load thumbnail %}

{% block title %}Discazos | Álbumes{% endblock title %}

{% block section_nav_class %}albums{% endblock %}
{% block main %}
<div id="content">
  <h2>Álbumes</h2>
  <div class="albums_list">
    {% for album in albums %}
    <a href="{% url album_view album.pk %}">
      <div class="album">
        <div class="cover">
        {% thumbnail album.main_release.cover "128x128" as cover_thumb %}
        <img src="{{ cover_thumb.url }}" alt="Album Cover" style="margin:{{ cover_thumb|margin:"128x128" }}"/>
        {% endthumbnail %}
        </div>
        <div class="info">
          <h1>{{ album.title }}</h1>
          <h2>{{ album.artist }}</h2>
        </div>
        <div class="clearer"></div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
