{% extends "main_layout.html" %}

{% block title %}Discazos | Álbum{% endblock title %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/discazos_player.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css" />
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ljecgpindjhfkaiebigenlfbimjeapib">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/countdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/discazos_loader.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.facescroll.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/discazos_player.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfobject.js"></script>
<script type="text/javascript">
  ExtensionHandler.init('{% url extension_install %}', '{% url extension_update %}', '{{ BROWSER_EXTENSION_VERSION }}');
</script>
{% endblock %}

{% block section_nav_class %}albums{% endblock %}
{% block main %}
<div id="discazos-player-flash">
  {% include "player_swf.html" %}
</div>
<div id="content">
  <div id="discazos-player-html">
    <h2 id="title">{{ album.title }}</h2>
    <h3 id="artist">{{ album.artist }}</h3>
    <div id="player-wrapper">
      <div class="main">
        <div class="right">
          <a class="load-link" href="javascript:void(0);" onclick="DiscazosLoader.getFHs('{% url dl_sources_list album.pk %}');">
            <img id="album-cover" src="{{ MEDIA_URL }}{{ album.main_release.cover }}" alt="Album Cover" />
            <span class="load-button"><img src="{{ STATIC_URL }}img/play-overlay.png" alt="Play"></span>
          </a>
          <div id="loading-discazo">
            <span class="caption" style="display: none;">Cargando el album... por favor espere</span>
          </div>
        </div>
        <div class="left">
          {% for playlist_disc in album.main_release.playlist %}
          <table class="playlist">
            {% if album.main_release.playlist|length > 1 %}
            <tr>
              <th colspan="3">{{ playlist_disc.disc }}</th>
            </tr>
            {% endif %}
            {% for track in playlist_disc.tracks_playlist %}
              <tr class="track">
                <td rel="{{ track.offset }}" class="track-number">{{ track.number }}</td>
                <td class="track-name">{{ track.song }}</td>
                <td rel="{{ track.length }}" class="track-length">{{ track.length_f }}</td>  
              </tr>
            {% endfor %}
            </table>
          {% endfor %}
        </div>
      </div>
      <div class="clearer"></div>
      <div id="player-controls" style="display:none;">
        <p id="playing-info">Reproduciendo: <span id="current-track">Nada</span></p>
        <span id="album-length" style="display:none;">{{ album.main_release.length }}</span>
        <button id="play-button">Play</button>
        <button id="prev-button">Anterior</button>
        <button id="next-button">Siguiente</button>
        <div id="progressbar"></div>
        <span id="time-elapsed">00:00</span>
      </div>
      <div class="clearer"></div>
    </div>
  </div>
</div>
{% endblock %}