{% extends "global_layout.html" %}

{% load thumbnail bootstrap_pagination %}

{% block title %}Discazos | Álbumes{% endblock title %}

{% block nav-albums %} class="active"{% endblock%}

{% block inner_layout %}
<div class="section">
  <h2>Álbumes</h2>
  <ul class="unstyled grid-list">
    {% for album in albums.object_list %}
    <li>
      <a href="{% url album_view album.pk %}">
        <div class="li-img">
          {% thumbnail album.main_release.cover "96x96" as cover_thumb %}
          <img src="{{ cover_thumb.url }}" alt="Album Cover" style="margin:{{ cover_thumb|margin:"96x96" }}"/>
          {% endthumbnail %}
        </div>
        <div class="clearfix">
          <p class="title">{{ album.title }}</p>
          <p>{{ album.artist }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% bootstrap_paginate albums %}
</div>
{% endblock %}