{% extends "main_layout.html" %}

{% load thumbnail %}

{% block title %}Discazos | Artistas{% endblock title %}

{% block section_nav_class %}artists{% endblock %}
{% block main %}
<div id="content">
  <h2>Artistas</h2>
  <div class="albums_list">
    {% for artist in artists %}
    <a href="{% url artist_view artist.pk %}">
      <div class="album">
        <div class="cover">
          {% if artist.image %}
          {% thumbnail artist.image "128x128" as image_thumb %}
          <img src="{{ image_thumb.url }}" alt="Artist Image" style="margin:{{ image_thumb|margin:"128x128" }}"/>
          {% endthumbnail %}
          {% else %}
          <img src="{{ STATIC_URL }}img/person-icon.png" />
          {% endif %}
        </div>
        <div class="info">
          <h1>{{ artist.name }}</h1>
          <h2>{{ artist.get_country_display }}</h2>
        </div>
        <div class="clearer"></div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
