{% extends "global_layout.html" %}

{% load thumbnail bootstrap_pagination %}

{% block title %}Discazos | Artistas{% endblock title %}

{% block nav-artists %} class="active"{% endblock%}

{% block inner_layout %}
<div class="section">
  <h2>Artistas</h2>
  <ul class="unstyled grid-list">
    {% for artist in artists.object_list %}
    <li>
      <a href="{% url artist_view artist.pk %}">
        <div class="li-img">
          {% if artist.image %}
          {% thumbnail artist.image "96x96" as image_thumb %}
          <img src="{{ image_thumb.url }}" alt="Artist Image" style="margin:{{ image_thumb|margin:"96x96" }}"/>
          {% endthumbnail %}
          {% else %}
          <img src="{{ STATIC_URL }}img/person-icon.png" />
          {% endif %}
        </div>
        <div class="clearfix">
          <p class="title">{{ artist.name }}</p>
          <p>{{ artist.get_country_display }}</p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% bootstrap_paginate artists %}
</div>
{% endblock %}