{% extends "global_layout.html" %}

{% load thumbnail %}

{% block title %}Discazos | Artista{% endblock title %}

{% block nav-artists %} class="active"{% endblock%}

{% block inner_layout %}
<div class="section">
  <div class="row-fluid">
    {% if artist.image %}
    <div class="span4">
      {% thumbnail artist.image "256x256" as image_thumb %}
      <img src="{{ image_thumb.url }}" alt="Artist Image" class="img-rounded"/>
      {% endthumbnail %}
    </div>
    {% endif %}
    <div class="span8">
      <h2>{{ artist.name }}</h2>
      <h4>{{ artist.get_country_display }}</h4>
    </div>
  </div>
</div>
<div class="section">
  <h4>Álbumes de {{ artist.name }}</h4>
  <ul class="unstyled grid-list small">
    {% for album in artist.albums.published %}
    <li>
      <a href="{% url album_view album.pk %}">
        <div class="li-img">
          {% thumbnail album.main_release.cover "64x64" as cover_thumb %}
          <img src="{{ cover_thumb.url }}" alt="Album Cover" style="margin:{{ cover_thumb|margin:"64x64" }}"/>
          {% endthumbnail %}
        </div>
        <div class="clearfix">
          <p class="title">{{ album.title }}
            {% if album.main_release.has_sources %}
              <span class="label label-success title-label" title="Disponible para reproducir"><i class="icon-white icon-play"></i></span>
            {% endif %}
          </p>
          {% if album.main_release.release_year %}
          <p>{{ album.main_release.release_year }}</p>
          {% endif %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
