<div class="loading-overlay">
  <div id="download-sources-frame">
    <div id="download-sources-wrapper">
      {% if dl_sources %}
      <div id="buffer-error-text" style="display: none;">
        <p>Lamentablemente el link de descarga obtenido no está disponible.</p>
        <p>Podés intentar cargar la misma fuente nuevamente o probar otra.</p>
      </div>
      <span>Seleccioná una fuente de donde cargar el álbum:</span>
      {% else %}
      <span>Actualmente no hay fuentes disponibles para este álbum, 
        disculpe la molestia.</span>
      {% endif %}
      <ul id="download-sources">
      {% for download_source in dl_sources %}
        <li>
          <a href="javascript:void(0);" onclick="javascript: DiscazosLoader.selectFH('{{ download_source.download_link }}');">
            {{ download_source.service }}
            <span><img src="{{ STATIC_URL}}img/popup-icon.gif" /></span>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div id="link-available-msg" style="display: none;">
      <p>¡Se ha obtenido el link de descarga correctamente!</p>
    </div>
    <div id="loading-discazo-msg" style="display: none;">
      <p>Precargando los primeros 30 segundos del álbum... por favor espere.</p>
      <p><img src="{{ STATIC_URL}}img/loading.gif" /></p>
      <p><span id="preload-percentage">0</span>% completado</p>
    </div>
  </div>
</div>