<div id="download_sources_box">
  <div id="download-sources-wrapper">
    <p>Please select the source to load the album:</p>
    <ul id="download-sources">
    {% for download_source in dl_sources %}
      <li>
        <a href="#" onclick="javascript: DiscazosLoader.selectFH('{{ download_source.download_link }}', 
                                                                 '{{ download_source.provider }}');">
          {{ download_source.get_provider_display }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div id="fh-info-msg">
  </div>
</div>