<div id="extension-install-box">
  <div id="install-message">
    <p>La extensión de Discazos está desactualizada, es necesario actualizarla 
      para poder usar correctamente el sitio.</p>
    <a href="javascript:void(0);" 
      onclick="chrome.webstore.install(undefined, 
                                       ExtensionHandler.showRefreshButton(), 
                                       ExtensionHandler.installationFailed);">
      <span>
        <img class="browser-logo" src="{{ STATIC_URL}}img/chrome-logo.png">
        <span>Extensión para Google Chrome</span>
      </span>
    </a>
    <p class="footnote">Si la instalación de la extensión no funciona, por favor 
      actualizá tu navegador a la última versión.</p>
  </div>
  <div id="success-message" style="display: none;">
    <p><a href="#" onclick="window.location.reload()">
      Una vez actualizada la extensión, recargá la página haciendo click aquí.
    </a></p>
  </div>
</div>