<div id="extension-install-box">
  <div id="install-message">
    <p>Es necesario instalar una extensión para tu navegador para cargar los álbumes de Discazos.</p>
    <a href="javascript:void(0);" 
      onclick="chrome.webstore.install(undefined, 
                                       ExtensionHandler.showRefreshButton(), 
                                       ExtensionHandler.installationFailed);">
      <span>
        <img class="browser-logo" src="{{ STATIC_URL}}img/chrome-logo.png">
        <span>Extensión para Google Chrome</span>
      </span>
    </a>
    <p class="footnote">Si la instalación de la extensión no funciona, por favor 
      actualizá tu navegador a la última versión.</p>
    <p class="footnote">Si tu navegador no está en esta lista, 
      no está soportado por el momento, disculpá la molestia.</p>
  </div>
  <div id="success-message" style="display: none;">
    <p><a href="#" onclick="window.location.reload()">
      Una vez instalada la extensión, recargá la página haciendo click aquí.
    </a></p>
  </div>
</div>