{% extends "doctype.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
{% block pagehead %}{% endblock %}
{% endblock %}

{% block body %}
<div id="layout_wrapper_outer">
<div id="layout_wrapper">

  <div id="layout_top">
    <div id="site_title">
      <h1><a href="{% url home %}">Discazos<span>.net</span></a></h1>
      <h2>Your favourite albums, everywhere</h2>
    </div>
  </div>

  <div id="layout_body_outer">
  <div id="layout_body">
  {% block inner_layout %}{% endblock %}
  </div>
  </div>

  <div id="footer">
    <div class="left">
      &copy; 2012 Discazos.net - Your favourite albums, everywhere
    </div>
    <div class="right">
      <a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
    </div>
    
    <div class="clearer">&nbsp;</div>
  </div>

</div>
</div>
{% endblock %}