{% extends "global_layout.html" %}

{% block inner_layout %}
<div id="navigation">
  <div id="nav1" class="{% block section_nav_class %}{% endblock %}">
    <ul>
      <li class="home_menu_item"><a href="{% url home %}">Inicio</a></li>
      <li class="albums_menu_item"><a href="{% url albums_list %}">Álbumes</a></li>
      <li class="artists_menu_item"><a href="{% url artists_list %}">Artistas</a></li>
      <li class="faq_menu_item" title="¡Muy pronto!">FAQ</li>
      <li class="share_menu_item"><a href="{% url share_new_album %}">Compartir</a></li>
      <li><a href="{% url logout %}">Salir</a></li>
    </ul>
    <div class="clearer">&nbsp;</div>
  </div>
  <div id="nav2">
  </div>
</div>

<div id="main">
  {% block main %}{% endblock %}
</div>

<!--
<div id="dashboard">
  <div id="dashboard_inner">

    <div class="col3 left">
      <div class="col3_content">

        <div class="col_title">Tincidunt</div>
        <ul>
          <li><a href="#">Consequat molestie</a></li>
          <li><a href="#">Sem justo</a></li>
          <li><a href="#">Semper eros</a></li>
          <li><a href="#">Magna sed purus</a></li>
          <li><a href="#">Tincidunt morbi</a></li>
        </ul>

      </div>
    </div>

    <div class="col3mid left">
      <div class="col3_content">

        <div class="col_title">Fermentum</div>
        <ul>
          <li><a href="#">Semper fermentum</a></li>
          <li><a href="#">Sem justo</a></li>
          <li><a href="#">Magna sed purus</a></li>
          <li><a href="#">Tincidunt nisl</a></li>
          <li><a href="#">Consequat molestie</a></li>
        </ul>

      </div>
    </div>

    <div class="col3 right">
      <div class="col3_content">

        <div class="col_title">Praesent</div>
        <ul>
          <li><a href="#">Semper lobortis</a></li>
          <li><a href="#">Consequat molestie</a></li>
          <li><a href="#">Magna sed purus</a></li>
          <li><a href="#">Sem morbi</a></li>
          <li><a href="#">Tincidunt sed</a></li>
        </ul>

      </div>
    </div>

    <div class="clearer">&nbsp;</div>

  </div>
</div>
-->
{% endblock %}
