*~
bootstrap
resources
discazos/local_settings.py
discazos/django.wsgi
media/*
discazos/*/migrations
discazos-player/flex_sdk_4.5
*.db
*.pyc
*.old
extensions/chrome/*.crx
extensions/chrome/*.pem
.project
.pydevproject
