django < 1.5
django-nose
django-debug-toolbar
selenium
south
-e git+https://github.com/robhudson/django-debug-toolbar.git#egg=django-debug-toolbar
django_extensions
django-countries
sorl-thumbnail
django-dajaxice
django-registration
django-floppyforms
django-bootstrap-pagination
