#nav1.home li.home_menu_item,
#nav1.albums li.albums_menu_item,
#nav1.artists li.artists_menu_item,
#nav1.faq li.faq_menu_item,
#nav1.share_album li.share_menu_item {
  background: url('../img/nav1_arrow.gif') no-repeat center bottom;
}

#nav1.home li.home_menu_item a,
#nav1.albums li.albums_menu_item a,
#nav1.artists li.artists_menu_item a,
#nav1.faq li.faq_menu_item a,
#nav1.share_album li.share_menu_item a {
  color: #ADE7F6; 
}

#discazos-player-flash {
  height: 0px;
}

#discazos-player-html h3#artist {
  font-size: 1.4em;
}

div.albums_list {
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid #DDD;
}

div.albums_list .album {
  background: #F5F5F5;
  border-top: 1px solid #DDD;
  padding: 10px;
}

div.albums_list .album:hover {
  background: #DCF0F4;
}

div.albums_list .album .cover {
  width: 128px;
  float: left;
}

div.albums_list .album .cover img {
  display: block;
}

div.albums_list .album .info {
  float: left;
  padding: 0px 10px;
}

div.albums_list .album .info h1 {
  font-size: 1.4em;
}

div.albums_list .album .info h2 {
  font-size: 1.2em;
}

div.mini_list .album {
  padding: 7px;
}

div.mini_list .album .cover {
  width: 64px;
}

div.mini_list .album .info h1 {
  font-size: 1.2em;
}

#share-assistant-box{
  margin: 15px 5px;
}

/* Player */

#player-wrapper {
  border: 1px solid #CCB;
  background: #F5F5F5;
}

#extension-install-box {
  margin: 10px;
}

#extension-install-box p {
  padding: 5px 0px;
}

#extension-install-box a {
  text-decoration: none;
}

#extension-install-box img.browser-logo {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
}

p.footnote {
  font-size: 0.85em;
  font-style: italic;
}

ul#download-sources {
  margin: 0px;
}

ul#download-sources li {
  font-size: 1.4em;
  text-align: center;
  list-style: none;
  margin: 15px 0px;
}

ul#download-sources li a {
  text-decoration: none;
}

#player-wrapper div.main {
  height: 290px;
  padding: 10px 0px;
  position: relative;
}

#player-wrapper div.main div.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  opacity: 0.95;
  z-index: 10;
  color: #000;
  display: table;
  padding: 0px 150px;
  height: 310px;
}

#player-wrapper div.main #download-sources-frame {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 120%;
}

#player-wrapper div.main div.right {
  width: 390px;
  float:left;
  text-align:center;
}

#player-wrapper div.main div.right a.load-link {
  position:relative;
  display:inline-block;
  width: 250px;
  height: 250px;
}

#player-wrapper div.main div.right a.load-link span.load-button {
  position: absolute;
  top: 0;
  left: 0;
}

#player-wrapper div.main div.right img#album-cover {
  height: 250px;
}

#player-wrapper div.main div.right #loading-discazo {
  width: 250px;
  height: 18px;
  margin: 0 auto;
  margin-top: 5px;
}

#player-wrapper div.main div.right #loading-discazo .ui-progressbar {
  position: relative;
}

#player-wrapper div.main div.right #loading-discazo .ui-progressbar-value {
  margin-top: -20px;
}

#player-wrapper div.main div.right #loading-discazo span.caption {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  position: static;
  text-align: center;
  padding: 0px 10px;
}

#player-wrapper div.main div.left {
  overflow-y: auto;
  overflow-x: hidden;
  height: 290px;
}

#player-wrapper div.main div.left table.playlist {
  width: 450px;
  margin-right: 5px;
  margin-bottom: 15px;
}

#player-wrapper div.main div.left table.playlist th {
  text-align: left;
  padding: 1px 5px;
  border-bottom: 2px solid #C5C5C5;
}

#player-wrapper div.main div.left table.playlist tr.track {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

#player-wrapper div.main div.left table.playlist tr:last-child {
  border-bottom: 1px solid #A5A5A5;
}

#player-wrapper div.main div.left table.playlist td {
  font-size: 1.1em;
  padding: 3px 0px;
}

#player-wrapper div.main div.left table.playlist td.track-number {
  width: 18px;
  padding: 0px 6px;
}

#player-wrapper div.main div.left table.playlist td.track-length {
  width: 30px;
  padding: 0px 6px;
}

#player-wrapper div.main div.left table.playlist tr.track.hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
  
#player-wrapper #player-controls {
  padding: 10px;
  height: 70px;
  background-color: #333;
  color: #F5F5F5;
}

#player-wrapper #player-controls button {
  float: left;
  margin-right: 6px;
}

#player-wrapper #player-controls #progressbar {
  float: left;
  width: 650px;
  height: 10px;
  margin: 12px;
}

#player-wrapper #player-controls #time-elapsed {
  float: left;
  margin: 8px 0px;
}
