{% extends "share/share_layout.html" %}

{% block content %}  
<h4>Paso 5 de 5: Agregue información de la edición del álbum</h4>
<form id="form-album-release-nfo" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% if albumReleaseForm.errors %}
  <p class="error">Por favor verifique los datos ingresados debajo.</p>
  {% endif %}
  <fieldset>
    <div class="form_row">
      <div class="form_property">{{ albumReleaseForm.release_year.label_tag }}</div> 
      <div class="form_value">{{ albumReleaseForm.release_year }}</div>
      <div class="clearer"></div>
    </div>
    <div class="form_row">
      <div class="form_property">{{ albumReleaseForm.country.label_tag }}</div> 
      <div class="form_value">{{ albumReleaseForm.country }}</div>
      <div class="clearer"></div>
    </div>
    <div class="form_row">
      <div class="form_property form_required">{{ albumReleaseForm.cover.label_tag }}</div> 
      <div class="form_value">{{ albumReleaseForm.cover }}</div>
      <div class="clearer"></div>
    </div>
    <div class="form_row form_row_submit">
      <div class="form_value">
        <input class="button" type="submit" value="Finalizar" />
      </div>
      <div class="clearer"></div>
    </div>
  </fieldset>
</form>
{% endblock content %}