{% extends "share/share_layout.html" %}

{% load floppyforms %}

{% block content %}
<h4>Paso 2 de 5: Agregar discos al álbum</h4>
<p>
  El siguiente paso consiste en agregar el disco de audio (o los discos, 
  si tiene 2 o 3) al álbum. Para lograr simplificar este paso, hicimos una 
  aplicación de escritorio para ayudarte a completar esta tarea. La aplicación
  se encargá de generar 2 archivos: Un archivo de texto conteniendo la información
  básica de los discos y otro archivo MP3 con el álbum completo listo para ser subido
  (en el último paso de este asistente).
</p>
<p>
  Descargue aquí la aplicación
  <a href="{{ STATIC_URL }}downloads/discazos-creator/discazos-creator-latest.deb">
    Discazos Creator (Ubuntu únicamente)</a>
  y siga al asistente para generar estos archivos, basados en tus archivos MP3
  del album.
</p>
<p>
  Una vez terminado, suba el archivo XML generado por el programa que contiene 
  la información básica de los discos del álbum, en el formulario que se 
  encuentra aqúi debajo.
</p>
{% if xmlUploadForm.errors %}
<p class="alert alert-error">Por favor verifique los datos ingresados debajo.</p>
{% endif %}

<form class="form-horizontal well" id="form-upload-xml" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% form xmlUploadForm %}
  <div class="control-group">
    <div class="controls"><input class="btn btn-primary" type="submit" value="Siguiente >>" /></div>
  </div>
</form>

{% endblock content %}