{% extends "share/share_layout.html" %}

{% load floppyforms %}

{% block content %}  
<h4>Paso 5 de 5: Agregue información de la edición del álbum</h4>
{% if albumReleaseForm.errors %}
<p class="alert alert-error">Por favor verifique los datos ingresados debajo.</p>
{% endif %}
<form class="form-horizontal well" id="form-album-release-nfo" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% form albumReleaseForm %}
  <div class="control-group">
    <div class="controls">
      <input class="btn btn-success" type="submit" value="Finalizar" />
    </div>
  </div>
</form>
{% endblock content %}