{% extends "share/share_layout.html" %}

{% load floppyforms %}

{% block content %}

{% if userHasPermission %}

<h4>Paso 1 de 5: Información del nuevo álbum</h4>
{% if artistAlbumForm.errors %}
<p class="alert alert-error">Por favor verifique los datos ingresados debajo.</p>
{% endif %}
<form id="form-album-info" class="form-horizontal well" method="post">
  {% csrf_token %}
  {% form artistAlbumForm %}
  <div class="control-group">
    <div class="controls"><input class="btn btn-primary" type="submit" value="Siguiente >>" /></div>
  </div>
</form>

{% else %}

<div class="alert alert-info">
  <p>Tu usuario no está habilitado actualmente para compartir álbumes.</p> 
  <p>¿Te interesa compartir? Por favor escribinos a 
  <a href="mailto:contacto@discazos.net">contacto@discazos.net</a>.</p>
</div>

{% endif %}

{% endblock content %}