{% extends "share/share_layout.html" %}

{% load floppyforms custom_tags %}

{% block content %} 
<h4>Paso 3 de 5: Revisión de la información de los discos</h4>
{% if tracksFormset.errors %}
<p class="alert alert-error">Por favor verifique los datos ingresados debajo.</p>
{% endif %}
<form class="form-horizontal well" id="review-disc-info" method="post">
  {% csrf_token %}
  
  {% form discForm %}
  
  {{ tracksFormset.management_form }}
  <table class="table table-bordered">
    <tr>
      <th>Nro.</th>
      <th>Artista</th>
      <th>Canción</th>
      <th>Duración</th>
    </tr>
  {% for trackForm in tracksFormset.forms %}
    {{ trackForm.number }} 
    {{ trackForm.length }}
    <tr>
      <td>{{ trackForm.number.value }}</td>
      <td>{{ trackForm.artist }}</td>
      <td>{{ trackForm.song_name }}</td>
      <td>{{ trackForm.length.value|format_secs }}</td>
    </tr>
  {% endfor %}
  </table>
  <div class="control-group">
    <input class="btn btn-success" type="submit" value="Confirmar información del disco" />
  </div>
</form>
{% endblock content %}