{% extends "share/share_layout.html" %}

{% load custom_tags %}

{% block content %} 
<h4>Paso 3 de 5: Revisión de la información de los discos</h4>
<form id="review-disc-info" method="post">
  {% csrf_token %}
  {% if tracksFormset.errors %}
  <p class="error">Por favor verifique los datos ingresados debajo.</p>
  {% endif %}
  {{ discForm.number }}
  <fieldset>
    <div class="form_row">
      <div class="form_property">Título del disco (si tiene)</div>
      <div class="form_value">{{ discForm.title }}</div>
      <div class="clearer"></div>
    </div>
  </fieldset>
  {{ tracksFormset.management_form }}
  <table class="data_table">
    <tr>
      <th>Nro.</th>
      <th>Artista</th>
      <th>Canción</th>
      <th>Duración</th>
    </tr>
  {% for trackForm in tracksFormset.forms %}
    {{ trackForm.number }} 
    {{ trackForm.length }}
    <tr>
      <td>{{ trackForm.number.value }}</td>
      <td>{{ trackForm.artist }}</td>
      <td>{{ trackForm.song_name }}</td>
      <td>{{ trackForm.length.value|format_secs }}</td>
    </tr>
  {% endfor %}
  </table>
  <fieldset>
    <div class="form_row form_row_submit">
      <input class="button" type="submit" value="Confirmar información del disco" />
      <div class="clearer"></div>
    </div>
  </fieldset>
</form>
{% endblock content %}