{% extends "share/share_layout.html" %}

{% block content %} 
<h4>Paso 4 de 5: Subiendo el archivo de audio</h4>
<p>Es tiempo ahora de subir el archivo de audio (generado por Discazos Creator 
  en el Paso 2) a un servicio de alojamiento de archivos.
</p>
<form name="download-source-link" method="post">
  {% csrf_token %}
  {% if downloadSourceForm.errors %}
  <p class="error">Por favor verifique los datos ingresados debajo.</p>
  {% endif %}
  <fieldset>
    <div class="form_row">
      <div class="form_property form_required">{{ downloadSourceForm.download_link.label_tag }}</div> 
      <div class="form_value">{{ downloadSourceForm.download_link }}</div>
      <div class="clearer"></div>
    </div>
    <div class="form_row form_row_submit">
      <div class="form_value"><input class="button" type="submit" value="Next >>" /></div>
      <div class="clearer"></div>
    </div>
  </fieldset>
</form>
{% endblock content %}