{% extends "global_layout.html" %}

{% block title %}Discazos | Link de activación no válido{% endblock title %}

{% block inner_layout %}
<div class="section">
  <h2>Link de activación no válido</h2>
  <div class="alert alert-error">
    <p><strong>Lo sentimos, pero este link de activación 
      es inválido o ya caducó.</strong></p>
    <p>Intente registrarse nuevamente o, si ya lo intentó, por favor escríbanos a 
    <a href="mailto:contacto@discazos.net">contacto@discazos.net</a>.
    Disculpe la molestia.</p>
  </div>
</div>
{% endblock %}