{% extends "global_layout.html" %}

{% block title %}Discazos | Registro{% endblock title %}

{% block inner_layout %}
<div id="main_empty">
  <div class="error">
    <p style="font-weight: bold;">Lo sentimos, pero este link de invitación 
      es inválido.</p>
    <p>Es posible que la invitación ya haya expirado o que haya sido utilizada 
      anteriormente.</p>
  </div>
  <p class="notice">Si desea pedir otra invitación, por favor escríbanos a 
    <a href="mailto:contacto@discazos.net">contacto@discazos.net</a>.
    Disculpe la molestia.
  </p>
</div>
{% endblock %}