{% extends "global_layout.html" %}

{% block title %}Discazos | Registro{% endblock title %}

{% block inner_layout %}
<div class="section">
  <h2>Invitación inválida</h2>
  <div class="alert alert-error">
    <p><strong>Lo sentimos, pero este link de invitación 
      es inválido.</strong></p>
    <p>Es posible que la invitación ya haya expirado o que haya sido utilizada 
      anteriormente.</p>
  </div>
  <p class="alert alert-info">Si desea pedir otra invitación, por favor escríbanos a 
    <a href="mailto:contacto@discazos.net">contacto@discazos.net</a>.
    Disculpe la molestia.
  </p>
</div>
{% endblock %}