{% extends "global_layout.html" %}

{% load floppyforms %}

{% block title %}Discazos | Login{% endblock title %}

{% block inner_layout %}
<div class="section">
  <h3>Ingreso</h3>
  <div class="row">
    <form method="post" id="login" class="form-horizontal span6">
      {% csrf_token %}
      {% form form %}
      <div class="control-group">
        <div class="controls"><input class="btn btn-primary" type="submit" value="Ingresar »" /></div>
      </div>
    </form>
    <div class="well span4">
      <p><strong>¿No sos parte de Discazos?</strong> ¿Que esperás para hacerlo?</p> 
      <p><a href="{% url registration_register %}" class="btn btn-success">Unirse a Discazos</a></p>
    </div>
  </div>
</div>
{% endblock %}