{% extends "global_layout.html" %}

{% block title %}Discazos | Registro completo{% endblock title %}

{% block inner_layout %}
<div class="section">
  <h2>Listo! Solamente falta activar tu cuenta</h2>
  <div class="well">
  <p><strong>Hemos enviado un email a tu casilla para que puedas activar tu cuenta.</strong></p>
    <p>No te olvides de revisar por las dudas la carpeta de Spam.</p>
  <p>(Si no recibes el email en la próxima hora, intentá registrarte nuevamente.)</p>
  </div>
</div>
{% endblock %}