{% extends "htmlbase.html" %}

{% load dajaxice_templatetags %}

{% block site_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/discazos.css">
{% block page_css%}{% endblock %}
{% endblock %}

{% block site_js %}
{% dajaxice_js_import %}
<script src="{{ STATIC_URL }}js/jquery.marcopolo.min.js"></script>
<script>
$('#global-album-search-box').marcoPolo({
  url: '{% url global_album_search %}',
  formatItem: function (data, $item) {
    switch(data.type) {
      case "album": 
        li = $("<a/>", { href: data.url })
          .append($("<img/>", { src: data.cover_url }))
          .append($("<p/>", { class: 'title', text: data.title }))
          .append($("<p/>", { class: 'subtitle', text: data.artist }))
        break;
      case "more-link":
        $item.addClass("more");
        li = $("<a/>", { href: data.url, text: 'Ver más resultados' });
        break;
      default:
        li = null;
    }
    return li;
  },
  formatMinChars: null,
  formatNoResults: function() {
    return 'No hay álbumes que coincidan con su búsqueda';
  },
  onSelect: function(data, $item) {
    window.location = data.url;
  },
  minChars: 2,
  required: true
});
</script>
{% block page_js %}{% endblock %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{% url home %}">Discazos</a>
        {% if request.user.is_authenticated %}
        <ul class="nav">
          <li{% block nav-albums %}{% endblock%}>
            <a href="{% url albums_list %}">Álbumes</a>
          </li>
          <li{% block nav-artists %}{% endblock%}>
            <a href="{% url artists_list %}">Artistas</a>
          </li>
          <li{% block nav-faq %}{% endblock%}>
            <a href="#">FAQ</a>
          </li>
          <li{% block nav-share-album %}{% endblock%}>
            <a href="{% url share_new_album %}">Compartir</a>
          </li>
          <li><a href="{% url logout %}">Salir</a></li>
          
        </ul>
        <ul class="nav pull-right">
          <li>
            <form class="navbar-search">
              <input type="text" class="span4 search-query" 
              id="global-album-search-box" 
              placeholder="Buscar álbum por nombre o artista...">
            </form>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  
  {% if messages %}
  {% for message in messages%}
  <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
    <a class="close">×</a>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  
  <div>
    {% block inner_layout %}{% endblock %}
  </div>
  
  <footer>
    <p>&copy; 2012 Discazos <a class="pull-right" href="mailto:contacto@discazos.net" target="__blank">Contacto</a></p>
  </footer>
</div>
{% endblock %}