{% extends "htmlbase.html" %}

{% load dajaxice_templatetags %}

{% block site_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/discazos.css">
{% block page_css%}{% endblock %}
{% endblock %}

{% block site_js %}
{% dajaxice_js_import %}
<script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.marcopolo.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
<script>
/* Global album search */
$('#global-album-search-box').marcoPolo({
  url: '{% url global_album_search %}',
  formatItem: function (data, $item) {
    switch(data.type) {
      case "album": 
        li = $("<a/>", { href: data.url })
          .append($("<img/>", { src: data.cover_url }))
          .append($("<p/>", { class: 'title', text: data.title }))
          .append($("<p/>", { class: 'subtitle', text: data.artist }))
        break;
      case "more-link":
        $item.addClass("more");
        li = $("<a/>", { href: data.url, text: 'Ver más resultados' });
        break;
      default:
        li = null;
    }
    return li;
  },
  formatMinChars: null,
  formatNoResults: function() {
    return 'No hay álbumes que coincidan con su búsqueda';
  },
  onSelect: function(data, $item) {
    window.location = data.url;
  },
  minChars: 2,
  required: true
});
/* Problem Report ajax form */
$('.feedback-button').popover({ 
  trigger: 'hover', 
  placement: 'left', 
  template: '<div class="popover feedback-popover">'+
              '<div class="arrow"></div>'+
              '<div class="popover-inner">'+
                '<div class="popover-content"><p></p></div>'+
              '</div>'+
            '</div>'
});
var spinner = new Spinner({ lines: 8, length: 4, width: 3, radius: 5, 
                            top: 0, left: 0 });
$('.feedback-button').colorbox({
  onComplete: function() {
    $(document).on("submit", "form#feedback-form", function(e) {
      spinner.spin($("#report-btn-spinner").get(0));
      var $form = $(this);
      $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serialize(),
        success: function(data, status) {
          spinner.stop();
          $(".feedback-section").replaceWith(data);
          $.colorbox.resize();
        }
      });
      e.preventDefault();
    });
  }
});
</script>
{% block page_js %}{% endblock %}
{% endblock %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{% url home %}">Discazos</a>
        {% if request.user.is_authenticated %}
        <ul class="nav">
          <li{% block nav-albums %}{% endblock%}>
            <a href="{% url albums_list %}">Álbumes</a>
          </li>
          <li{% block nav-artists %}{% endblock%}>
            <a href="{% url artists_list %}">Artistas</a>
          </li>
          <!--<li{% block nav-faq %}{% endblock%}>
            <a href="#">FAQ</a>
          </li>-->
          <li{% block nav-share-album %}{% endblock%}>
            <a href="{% url share_new_album %}">Compartir</a>
          </li>
          <li><a href="{% url logout %}">Salir</a></li>
          
        </ul>
        <ul class="nav pull-right">
          <li>
            <form class="navbar-search">
              <input type="text" class="span4 search-query" 
              id="global-album-search-box" 
              placeholder="Buscar álbum por nombre o artista...">
            </form>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  
  {% if messages %}
  {% for message in messages%}
  <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
    <a class="close" data-dismiss="alert">×</a> 
    {{ message|safe }}
  </div>
  {% endfor %}
  {% endif %}
  
  <div>
    {% block inner_layout %}{% endblock %}
  </div>
  
  <footer>
      <span>&copy; 2012 Discazos (beta) | <a href="mailto: contacto@discazos.net">Contacto</a></span>
      <div class="facebook-like">
        <div class="fb-like" data-href="https://www.facebook.com/discazosnet" data-send="false" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
      </div>
      <span class="pull-right"><small>Ult. act. {{ PROJECT_LAST_UPDATE }}</small></span>
  </footer>

  {% if request.user.is_authenticated %}
  <ul class="feedback-bar nav nav-pills pull-right">
    <li>
     <a href="{% url problem_report %}" class="feedback-button btn btn-danger"
        data-content="¿Tuviste algún problema? ¡Contanos!">
        Reportar problema <i class="icon-bullhorn icon-white"></i>
      </a>
    </li>
  </ul>
  {% endif %}

</div>
{% endblock %}